.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }

  :root{
    /* --primary-color: #c7a17a; */
    --primary-color: #000000;
    --background-color: #f9f5f0;
    --dark-color: #151515
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILIDADES*/

.container{
    max-width: 130rem;
    margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}
/*header*/

.container-hero{
    background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem
}

.customer-support i{
    font-size: 2rem;
    color: var(--primary-color);
}

.content-customer-support{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i{
    font-size: 3rem;
}

.container-logo h1 a{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-logo h1 a:hover{
    color: var(--primary-color);
}

container-user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-user .fa-user{
    font-size: 2.5rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-cart-shopping{
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}

.content-shopping-cart{
    display: flex;
    flex-direction: column;
}

/*navbar*/

.container-navbar{
    background-color: var(--background-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.container .fa-bars{
    font-size: 2.5rem;
    color: var(--primary-color);
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--dark-color);
    font-weight: 600;
    position: relative;
}

.menu a::after{
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1px;
    background-color: var(--primary-color);
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: var(--primary-color);
}

/*barra de busqueda*/

.search-form{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid #e2e2e2;
    border-radius: 3rem;
    background-color: #fff;
    position: relative;
    height: 4.4rem;
}

.search-form input{
    font-size: 2rem;
    color: var(--primary-color);
    padding: 0 1rem;
    font-family: inherit;
    outline: none;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.search-form .btn-search i{
    font-size: 2rem;
}

/*banner*/

.banner{
    background-image: linear-gradient(100deg, #0000, #000), url('../Imagenes/imagen.jpg');
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner p{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-banner h2{
    color: #fff;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color:#fff;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}

/*main*/

.main-content{
    background-color: var(--background-color);

}

/*caracteristicas*/

.container-features{
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
}

.card-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    background-color: #fff;
}

.card-feature i{
    font-size: 3rem;
    color: var(--primary-color);
}

.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--dark-color)
}

.feature-content p{
    color: #7777;
    font-weight: 500;    
}

/*categorias*/

.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card-categories{
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

.category-ropa{
    background-image: linear-gradient(#00000080, #00000080), url('../Imagenes/ropa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-zapatillas{
    background-image: linear-gradient(#00000080, #00000080), url('../Imagenes/zapatillas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-accesorios{
    background-image: linear-gradient(#00000080, #00000080), url('../Imagenes/accesorios.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-categories p{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}



.card-categories span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-categories span::hover{
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease;
}

/* top products */

.top-products{
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span{
    color:#7777;
    background-color: #fff;
    padding: .7rem 1.5rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover{
    color: #fff;
    background-color: var(--primary-color);
}

.container-options span.active{
    color: #fff;
    background-color: var(--primary-color);
}

/* Contenedor de productos */

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.card-product{
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.card-product img{
    width: 100%;
    border-radius: 2rem;
    position: relative;
}

.container-img img{
    width: 100%;
}

.container-img .doscount{
    position: absolute;
    top: 0;
    margin-left: -22%;
    margin-top: 90.9%;
    background-color: #ffffff;
    color: #000000;
    padding: 2px 1.2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
}

.card-product:hover .doscount{
    background-color: #5a3b3b;
}

.button-group{
    display: flex;
    gap: 1rem;
    position: absolute;
    margin-left: 20.2%;
    margin-top: 90.9%;
    top: 0;
    flex-direction: column;
    color: rgb(255, 255, 255);
    z-index: -1;
    transition: all .4s ease;
}

.button-group span{
    border: 1px solid #ffffff;
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

.button-group span:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.card-product:hover .button-group{
    z-index: 0;
}

.content-card-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    row-gap: 1rem;
    justify-items: center;
}

.star{
    grid-row: 1/2;
    grid-column: 1/-1;
}

.star i{
    color: var(--primary-color);
    font-size: 1.5rem;
}

.content-card-product h3{
    grid-row: 2/3;
    grid-column: 1/-1;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover{
    color: var(--primary-color);
}

.add-cart{
    justify-self: start;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4seg ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover{
    background-color: var(--primary-color);
}

.add-cart i{
    color: var(--primary-color);
    font-size: 2rem;
}

.add-cart:hover i{
    color: #fff;
}

.content-card-product .price{
    font-size: 1.7rem;
    font-weight: 700;
    justify-self: end;
    align-self: auto;
}

.content-card-product .price span{
    font-size: 1.4rem;
    font-weight: 500;
    color: #18171777;
    text-decoration: line-through;
    margin-left: 0.5rem;
}

/*Galeria*/

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 30rem);
    gap: 2rem;
    margin-bottom: 3rem;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    
}

.gallery-img-3{
    grid-column: 2/4;
    grid-row: 1/3;
}

/*Ultimo lanzamiento*/

.specials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

/*Blogs*/

.blogs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-blogs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card-blog .container-img img{
    width: 100%;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.container-img .button-group-blog{
    position: relative;
    bottom: 4.5rem;
    left: 1.5rem;
    display: flex;
    gap: 0.7rem;
    z-index: -1;
    transition: all .4s ease;
}

.card-blog:hover .button-group-blog{
    z-index: 0;
    right: 1.5rem;
}

.button-group-blog span{
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

.button-group-blog span i{
    font-size: 1.3rem;
}

.button-group-blog span:hover{
    background-color: #000000;
}

.button-group-blog span:hover i{
    color: #ffffff;
}

.content-blog h3{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-blog h3:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.content-blog p{
    color: #000000;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.content-blog span{
    color: #000000;
    font-size: 1.3rem;
}

.btn-read-more{
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 30px;
}

.btn-read-more:hover{
    background-color: #664848;
    color: var(--primary-color);
}

/*Footer*/

.footer{
    background-color: var(--primary-color);
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    gap: 2rem;
    justify-items: center;
    color: #e2e2e2;
    text-decoration: none;
}

.title-footer{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.contact-info,
.information,
.my-account,
.newsletter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul,
.information ul,
.my-account ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li{
    list-style: none;
    color: #e2e2e2;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a{
    color: #e2e2e2;
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
}

.information ul li a:hover,
.my-account ul li a:hover{
    color: var(--dark-color)
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}

.social-icons span{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.social-icons span i{
    font-size: 1.5rem;
    color: #fff;
}

.facebook{
    background-color: #3b5998;
}

.mail{
    background-color: #dd4b39;
}

.instagram{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

.linkedin{
    background-color: #0077b5;
}

.youtube{
    background-color: #ff0000;
}

.content p{
    color: #e2e2e2;
    font-size: 1.4rem;
    font-weight: 300;
}

.content input{
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    outline: none;
}

.content button{
    background-color: #fff;
    color: var(--primary-color);
    padding: 1rem 5rem;
    margin-top: 20px;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.content button:hover{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
    color: #fff;
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e2e2e2;
    font-size: 1.4rem;
    font-weight: 300;
}

.copyright p{
    font-size: 1.4rem;
    font-weight: 300;
}

/*seccion de responsive*/

